.slide {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, transform;
}

.slide2 {
  height: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, transform;
}

.slide.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide2.visible {
  opacity: 1;
  transform: translateY(0);
}

.toast {
  
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  z-index: 9999;
  animation: fadeinout 3s ease;
}

.mensaje {
  background: rgb(19, 20, 23);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border: 0.1rem solid rgb(7, 8, 9);
  box-shadow: 0.6rem 0.6rem 0 rgb(13, 13, 15);
  z-index: 9999;
}

@keyframes fadeinout {
  0% { opacity: 0; transform: translateX(-50%) translateY(1rem); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-50%) translateY(1rem); }
}
