<div class="lineaTemporalContenedor">
  <div class="titular">
    <p class="tituloPagina">Trayectoria Profesional</p>
  </div>

  <div class="lineaTemporal">

    <div class="columnaTexto izquierda">
      <div class="textoTrayectorias fecha">12/10/2022  -  20/12/2024</div>
      <div class="margenImaginario"></div>
      <div class="textoTrayectorias titulo" style="align-self: flex-start;">ESTANCIA EN SERBATIC</div>
      <div class="textoTrayectorias explicacion" style="align-self: flex-start;">Aprendizaje en el desarrrollo web con <span class="resaltarLetras">Java</span> en el uso de <br/> <span class="resaltarLetras">Jakarta EE</span>, uso de nuevos IDEs de programación en Java como <span class="resaltarLetras">IntelliJ</span>. Uso de herramientas orientadas de Back como <span class="resaltarLetras">Postman</span> y <span class="resaltarLetras">Docker</span>. Desarrollo de varios proyectos web como el <br/> <span class="resaltarLetras">Acortador de URLs</span> o una <span class="resaltarLetras">Tienda online</span>.</div>
      <div class="margenImaginario fecha"></div>
      <div class="textoTrayectorias fecha">7/01/2025  -  Actualmente</div>
    </div>

    <div class="columnaTimeline">
      <div class="circulo"></div>
      <div class="rectangulo"></div>
      <div class="circulo secundario"></div>
      <div class="rectangulo"></div>
      <div class="circulo secundario"></div>
      <div class="rectangulo final"></div>
    </div>

    <div class="columnaTexto">
      <div class="textoTrayectorias titulo">ESTUDIOS EN EL GRADO SUPERIOR DE DAM</div>
      <div class="textoTrayectorias explicacion">Primeros pasos en el mundo de la programación en el primer año, y en el segundo especialización en <span class="resaltarLetras">Java en el desarrolllo de aplicaciones</span>. Aprendizaje de programar en <span class="resaltarLetras">Python</span> y android con <span class="resaltarLetras">Android Studio</span>, pero en menor medida que <span class="resaltarLetras">Java</span>. Desarrollo de varias aplicaciones como mi proyecto final en una <span class="resaltarLetras">aplicación Movil</span> y uso de <span class="resaltarLetras">despliegue de aplicaciones</span> para una funcionalidad final.</div>
      <div class="margenImaginario fecha" style="height: 0.6rem"></div>
      <div class="textoTrayectorias fecha">17/09/2022  -  24/12/2024</div>
      <div class="margenImaginario" style="height: 18.8rem"></div>
      <div class="textoTrayectorias titulo">ESTUDIO Y CURSOS DE DESARROLLO WEB</div>
      <div class="textoTrayectorias explicacion">Aprendizaje en lenguajes de programacion orientados en el desarrollo web. Primero con <span class="resaltarLetras">JavaScript</span>, después con <span class="resaltarLetras">Spring</span> y <span class="resaltarLetras">Springboot</span> con pequeños proyectos para aplicar el contenido, usando bases de datos relacionales como <span class="resaltarLetras">MySQL</span>. Por último conociminetos en el diseño más orientado al <span class="resaltarLetras">Front</span> con <span class="resaltarLetras">Angular</span> y proyectos juntando las 3 tecnologías en proyectos completos.</div>
    </div>
  </div>
</div>