<div class="proyectosPrincipalesContenedor">
  <div class="titular">
    <p class="tituloPagina">Proyectos principales</p>
  </div>

   <div class="carrusel">
    <ngb-carousel [interval]="4000" [pauseOnHover]="true" [wrap]="true">
      <ng-template ngbSlide *ngFor="let recurso of recursos">
        <div class="card">
           <div class="titular">
            <span class="titulo">{{ recurso.nombre }}</span>
            <button class="botonEnlaceGithub"><i class="fab fa-github"></i></button>
          </div>

          <div class="descripcion">
            <p class="texto">
              {{ recurso.descripcion }}
            </p>
          </div>

          <div class="imagen">
            <img [src]="recurso.img" alt="Ilustración">
          </div>

          <div class="tecnologias">
            <img
              *ngFor="let tecnologia of recurso.tecnologias"
              [src]="tecnologia.logo"
              [alt]="tecnologia.nombre"
              class="logoTecnologia"
            />
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
